In [12]:
import numpy as np
import pandas as pd
import time as time
from IPython.display import display
import visuals as vs

% matplotlib inline

data = pd.read_csv('census.csv')

In [15]:
display(data)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23,Private,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32,Private,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
14,34,Private,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K
16,32,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K
17,38,Private,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K
19,40,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
20,54,Private,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0.0,0.0,20.0,United-States,<=50K
21,35,Federal-gov,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
22,43,Private,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,2042.0,40.0,United-States,<=50K
23,59,Private,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
24,56,Local-gov,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
25,19,Private,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
26,39,Private,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,<=50K
27,49,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,52.0,United-States,<=50K
29,20,Private,Some-college,10.0,Never-married,Sales,Own-child,Black,Male,0.0,0.0,44.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,25,Private,HS-grad,9.0,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0.0,0.0,40.0,United-States,<=50K
45193,31,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45194,49,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,Canada,>50K
45195,60,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
45196,39,Private,Bachelors,13.0,Never-married,Tech-support,Not-in-family,White,Female,0.0,1669.0,40.0,United-States,<=50K
45197,38,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45198,43,Local-gov,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45199,23,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45200,73,Self-emp-inc,Some-college,10.0,Divorced,Exec-managerial,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K
45201,35,Private,Some-college,10.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45202,66,Private,HS-grad,9.0,Widowed,Sales,Other-relative,White,Female,0.0,0.0,8.0,United-States,<=50K
45203,27,Private,Some-college,10.0,Never-married,Sales,Not-in-family,White,Female,0.0,0.0,45.0,United-States,<=50K
45204,40,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K
45205,51,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45206,22,Private,Some-college,10.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45207,64,Self-emp-not-inc,HS-grad,9.0,Widowed,Farming-fishing,Not-in-family,White,Male,0.0,0.0,32.0,United-States,<=50K
45208,55,Private,HS-grad,9.0,Separated,Priv-house-serv,Not-in-family,White,Female,0.0,0.0,32.0,United-States,<=50K
45209,38,Private,Assoc-voc,11.0,Never-married,Adm-clerical,Unmarried,Black,Female,0.0,0.0,40.0,United-States,<=50K
45210,58,Private,Assoc-acdm,12.0,Divorced,Prof-specialty,Not-in-family,White,Male,0.0,0.0,36.0,United-States,<=50K
45211,32,Private,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45212,48,Private,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45213,61,Private,HS-grad,9.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,<=50K
45214,31,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45215,25,Private,HS-grad,9.0,Never-married,Other-service,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K
45216,48,Local-gov,Masters,14.0,Divorced,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45217,33,Private,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45218,39,Private,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K
45219,38,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
45220,44,Private,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K
45221,35,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [16]:
display(data.head(n=3))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K

In [18]:
data.head(3)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K

In [20]:
data.shape # dimensionality #this data frame is a 2-D # so that why (x, y)

(45222, 14)

In [21]:
data.shape[0]

45222

In [30]:
# How to find out the total of records?
n_records = data.shape[0]    #What I did: n_records = len(data)
print n_records

45222

In [31]:
# How to find out the total features?
n_features = data.shape[1]
print n_features

14

In [26]:
data.shape[2]

IndexError: tuple index out of range

In [45]:
# How to find total number of people who earn >50K
n_greater_50K = data[(data.income == '>50K')].shape[0]



print n_greater_50K

11208

In [46]:
data.income == '>50K'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9         True
10        True
11        True
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
45192    False
45193    False
45194     True
45195     True
45196    False
45197     True
45198     True
45199    False
45200    False
45201    False
45202    False
45203    False
45204     True
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
45211    False
45212    False
45213    False
45214    False
45215    False
45216    False
45217    False
45218    False
45219    False
45220    False
45221     True
Name: income, Length: 45222, dtype: bool

In [59]:
sum(data.income == '>50K')

11208

In [61]:
sum(data['income'] == '>50K')

11208

In [62]:

data[(data.income == '>50K')]   # same as: data[data.income == '>50K']

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
18,43,Self-emp-not-inc,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K
19,40,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
24,56,Local-gov,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
42,57,Federal-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0.0,0.0,40.0,United-States,>50K
48,47,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0.0,1902.0,60.0,Honduras,>50K
49,50,Federal-gov,Bachelors,13.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,55.0,United-States,>50K
51,43,Private,Some-college,10.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
58,42,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
62,53,Private,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,40.0,United-States,>50K
63,49,Self-emp-inc,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
66,29,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,70.0,United-States,>50K
77,44,Private,HS-grad,9.0,Divorced,Craft-repair,Not-in-family,White,Female,14344.0,0.0,40.0,United-States,>50K
79,49,Local-gov,HS-grad,9.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
82,43,Federal-gov,Doctorate,16.0,Never-married,Prof-specialty,Not-in-family,White,Female,0.0,0.0,50.0,United-States,>50K
86,34,Local-gov,Bachelors,13.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
88,48,Self-emp-not-inc,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,1902.0,60.0,United-States,>50K
89,37,Private,Some-college,10.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,>50K
92,76,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
93,44,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024.0,0.0,60.0,United-States,>50K
97,32,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
102,38,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
103,56,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Other-service,Husband,White,Male,0.0,1887.0,50.0,Canada,>50K
108,49,Local-gov,Assoc-voc,11.0,Married-civ-spouse,Craft-repair,Husband,Black,Male,0.0,0.0,40.0,United-States,>50K
114,29,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
116,47,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45104,46,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45107,41,Private,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
45108,48,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
45111,52,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,65.0,United-States,>50K
45120,64,Local-gov,Doctorate,16.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
45121,55,Local-gov,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,1902.0,40.0,United-States,>50K
45125,37,Private,Masters,14.0,Never-married,Exec-managerial,Own-child,White,Male,0.0,0.0,40.0,United-States,>50K
45126,27,Private,Masters,14.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,20.0,United-States,>50K
45127,35,Private,Assoc-acdm,12.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45130,59,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103.0,0.0,40.0,United-States,>50K
45131,31,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,15024.0,0.0,60.0,United-States,>50K
45140,32,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
45151,57,Private,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,44.0,United-States,>50K
45154,29,Private,HS-grad,9.0,Married-civ-spouse,Tech-support,Wife,Asian-Pac-Islander,Female,4386.0,0.0,45.0,United-States,>50K
45160,41,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
45163,34,Self-emp-inc,HS-grad,9.0,Divorced,Sales,Unmarried,White,Male,0.0,0.0,50.0,United-States,>50K
45169,50,Self-emp-not-inc,Bachelors,13.0,Divorced,Craft-repair,Not-in-family,White,Male,27828.0,0.0,16.0,United-States,>50K
45170,52,Private,HS-grad,9.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0.0,0.0,40.0,Peru,>50K
45173,35,Local-gov,Some-college,10.0,Married-civ-spouse,Transport-moving,Husband,Black,Male,0.0,0.0,40.0,United-States,>50K
45176,34,Federal-gov,HS-grad,9.0,Married-civ-spouse,Craft-repair,Wife,White,Female,0.0,0.0,40.0,United-States,>50K
45182,30,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,80.0,United-States,>50K
45184,57,Private,Some-college,10.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,60.0,United-States,>50K
45188,32,Private,Assoc-voc,11.0,Married-civ-spouse,Sales,Husband,White,Male,5178.0,0.0,60.0,United-States,>50K
45189,51,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
45194,49,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,Canada,>50K
45195,60,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
45197,38,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45198,43,Local-gov,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45204,40,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K
45221,35,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [53]:
# This causes problem: 'tuple' object is not callable
data[(data.income == '>50K')].shape()

TypeError: 'tuple' object is not callable

In [54]:
# I just created new 2-D dataframe
data[(data.income == '>50K')].shape

(11208, 14)

In [49]:
# Total number of people who earn more than 50K
n_greater_50K = data[(data.income == '>50K')].shape[0]

print n_greater_50K

11208

In [65]:
data['income']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
7         >50K
8         >50K
9         >50K
10        >50K
11        >50K
12       <=50K
13       <=50K
14       <=50K
15       <=50K
16       <=50K
17       <=50K
18        >50K
19        >50K
20       <=50K
21       <=50K
22       <=50K
23       <=50K
24        >50K
25       <=50K
26       <=50K
27       <=50K
28       <=50K
29       <=50K
         ...
45192    <=50K
45193    <=50K
45194     >50K
45195     >50K
45196    <=50K
45197     >50K
45198     >50K
45199    <=50K
45200    <=50K
45201    <=50K
45202    <=50K
45203    <=50K
45204     >50K
45205    <=50K
45206    <=50K
45207    <=50K
45208    <=50K
45209    <=50K
45210    <=50K
45211    <=50K
45212    <=50K
45213    <=50K
45214    <=50K
45215    <=50K
45216    <=50K
45217    <=50K
45218    <=50K
45219    <=50K
45220    <=50K
45221     >50K
Name: income, Length: 45222, dtype: object

In [66]:
data('income', axis = 1)

TypeError: 'DataFrame' object is not callable